@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

* { cursor: default; font-family: 'Nanum Gothic', sans-serif; }

body {
	margin: 0;
	padding: 0;
	user-select:none;
}

#button:hover {
	box-shadow: 0 2px 5px black;
}

#display {
	transition: box-shadow 0.25s;
	box-shadow: 0 1px 3px #111;
}

#display:hover {
	box-shadow: 0 2px 5px black;
}

#display p {
	text-shadow: 0 2px 5px black;
}

#button {
	position: inherit !important;
	background: black;
	border-radius: 3px;
	color: white;
	padding: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.25s;
	box-shadow: 0 1px 3px #111;
	cursor: pointer;
}

#saveButton {
	position: inherit !important;
	width: 100% !important;
	transition: background 0.1s;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex: 1;
}

#saveButton:hover {
	background: rgba(0,0,0,0.5);
}

#button * { cursor: pointer; }
#saveButton * { cursor: pointer; }